{% extends "base.html" %}


{% block content %}
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card bg-light p-5 w-30-em">
      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <form id="signup-form" action="{{ url_for('registrate_user') }}" method="post">
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>
        <div class="form-floating mb-5">
          <input type="text" name="username" class="form-control" id="usernameInput" placeholder="johndoe">
          <label for="usernameInput">Username</label>
        </div>
        <div class="form-floating mb-5">
          <input type="email" name="email" class="form-control" id="emailInput" placeholder="name@example.com">
          <label for="emailInput">Email address</label>
        </div>
        <div class="form-floating mb-5">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2 mb-4" type="submit">Sign up</button>
        <div class="text-center">
          <p>Already member?
            <a
                href="#"
                hx-get="{{ url_for('show_signin_form') }}"
                hx-push-url="true"
                hx-target="#main-container"
                hx-swap="outerHTML"
                hx-trigger="click"
            >Sign in
            </a>
          </p>
        </div>
        <p class="mb-3 text-body-secondary">&copy; 2024</p>
      </form>
    </div>
  </div>
{% endblock %}